.xbcLoadingAnimaion
    width 80%
    position: absolute
    overflow hidden
    .test
    >textarea
        width 80%
        height 240px
    .test1
    height 100%
    overflow auto
    .test-move
        width 20%
        height 100px
        background-color pink
        margin 20px auto

.testf-right0
    right 0
.testf-right40
    right 40
.changeAnimation
    animation: changeAnimation 1.5s
    
@keyframes changeAnimation
    0%
        right 0
        opacity 1
    50%
        right -40px
        opacity 0
    51%
        right 40px
        opacity 0
    100%
        right 0px
        opacity 1
