$background-color = none
$border-radius = 6px
/*按钮选中时颜色*/
$background-color-hover = #888
$background-color-bg = none
/*小提示框组件颜色*/
$tip-color = #aaa
/*整体主题色调*/
$background-color-ccc = #ccc
$background-color-888 = #888
$background-color-aaa = #aaa
/*全局文本选中背景颜色*/
$selection-bg = #d3d3d3
/*全局文本选中文字颜色*/
$selection-color = #555
/*全局文本颜色*/
$font-color = rgba(13,27,62,.65)