@import '../../stylus/baseStylus.styl'
.xbcbtn
    padding: 10px 20px
    border-radius: 6px
    outline:none
    border:none
    cursor pointer
    color $font-color
    background-color: $background-color
    transition: background-color .5s
    &:hover
        background-color: $background-color-hover
.xbcbtn-animation1
    animation: xbc-animationblue 1s
.xbcbtn-animation2
    animation: xbc-animationblue 1s

box-shadow()
    box-shadow: 0px 0px 0px arguments

@keyframes xbc-animationblue
    0%
        box-shadow 0px none
    50%
        box-shadow 5px rgba(222, 153, 94, 0.5)
    100%
        box-shadow 5px rgba(222, 153, 94, 0)

@keyframes xbc-animationred
    0%
        box-shadow 0px none
    50%
        box-shadow 5px rgba(255, 0, 51, 0.5)
    100%
        box-shadow 5px rgba(255, 0, 51,  0)
