.App-catalog
    width 20%
    text-align left 
    .catalog-ul
        padding: 10px
        margin: 10px
        background-color: #fff
        border-radius: 6px
        color: rgba(13,27,62,.65)
        >div>li
            border-radius: 6px
            background-color: #fff
            transition: background-color 0.5s ease-in-out
            &:hover
                background-color: #D5EBFC
                
        .chooseCatalog
            background-color: #2395F1
            &:hover
                background-color: #2395F1
        a
            padding 10px 0
            display: block
            color: rgba(13,27,62,.65)
    .li-ul
        margin-left: 10px
    .li-div
        overflow hidden
        transition: height 0.5s ease-in-out
    .li-div1
        height 0px
    .li-div2
        height 63px

        
