@import '../utils/stylus/baseStylus.styl'
.App-catalog
    text-align left
    position: absolute
    top: 150px
    left 30px
    bottom 30px
    width: 175px
    z-index: 1
    border: 3px solid $background-color-ccc
    border-radius: $border-radius 
    transition: border-color .5s
    overflow: auto
    &:hover
        border-color: $background-color-888
    .catalog-ul
        margin: 10px
        border-radius: $border-radius 
        color: $font-color
        >div>li
            border-radius: $border-radius 
        li
            transition: background-color .5s
            &:hover
                background-color: $background-color-888
                
        .chooseCatalog
            background-color: $background-color-ccc
            &:hover
                background-color: $background-color-888
        a
            padding 10px 0
            display: block
            color: rgba(13,27,62,.65)
    .li-ul
        margin-left: 10px
        > li
            border-radius: $border-radius 

        
