.data-list
    display flex
    align-items: center
    justify-content:  center
    background-color: #fff
    height: 100%
    table,td
        border: 1px solid #ECECEC
        border-collapse:collapse
    td
        padding: 5px 10px