@import '../utils/stylus/baseStylus.styl'
.App-header
    height 10%
    background-color $background-color
    display: flex
    align-items: center
    flex-direction: row-reverse
    .time
        float right
        margin-right: 20px
        cursor pointer
    .portrait
        display: flex
        align-items: center
        padding-right: 20px
        >img
            border-radius: 50px
            width: 50px
            margin: 0 5px
.my
    >li
        margin-bottom: 5px
        cursor pointer
        background-color: #fff
        transition: background-color .5s
        &:hover
            background-color: #de995e