.img-data-list
    height 100%
    overflow: auto
    img 
        cursor pointer
    table,td
        border: 1px solid #ccc
        border-collapse:collapse
    td
        padding: 5px 10px
        img 
            width: 180px