// media()
//   join(' and ', arguments)
// $mobiWidth = 768px
// $media = media('screen', '(max-width: ' + ($mobiWidth - 1px) + ')')
// @media $media
//   .index-content
//     width: 90%
@media only screen and (max-width: 500px)
  .index-content
    width: 90%
@media only screen and (min-width: 500px)
  .index-content
    width: 450px


.index
  height 100vh
  animation: bgImage 12s infinite
  transition: background-image 4s
  display: flex
  align-items: center
  justify-content: center
  flex-direction: column
  .title
    color: #FFF
    font-size: 38px
    line-height: 70px
    font-weight: 400
    span 
      font-weight: 100
  .title-content
    line-height: 40px
    color: #FFF
    font-weight: 100
  .index-content
    padding: 25px
    margin-top: 40px
    border-radius: 6px
    background-color: #fff
    .content-top
      display: flex
      align-items: center
      justify-content: space-between
      > :first-child
        > :first-child
          font-size: 22px
        .notice
          color: #888888
        >p
          line-height: 30px
      > :last-child
        img 
          width: 50px
    .content-bottom
      display: flex
      justify-content: center
      align-items: center
      flex-direction: column
      width: 100%;
      padding-top: 25px
      input 
        margin-bottom: 20px
        width: 90%
        padding: 10px 20px
        border: 3px solid #ddd
        outline: none
        transition: border-color .5s
        &:focus
          border-color: #bbb
      .login-input
        border: 3px solid red



@keyframes bgImage
  0%
    background-image: url('../assets/1.jpg')
  33%
    background-image: url('../assets/2.jpg')
  67%
    background-image: url('../assets/3.jpg')
  100%
    background-image: url('../assets/1.jpg')