.react-container
    display: flex
    flex-direction: column
    position relative
    height 100%
    .example-enter
        left -500px
        opacity 0
    .example-enter.example-enter-active
        left 0
        opacity 1
    .example-leave
        left 0
        opacity 1
    .example-leave.example-leave-active
        left 500px
        opacity 0