@import '../utils/stylus/baseStylus.styl'
.test3
    width: 100%
    overflow hidden
    height 100%
    button
        margin: 10px
    .test-red
        background-color: $background-color
        width: 10%
        text-align: center
        position absolute
        margin: 5px 0
        transition: left 1s,opacity 1s
        // .example-appear
        //     opacity: 0.01
        // .example-appear.example-appear-active
        //     opacity: 1
    .move
        background-color: $background-color
        width: 50px
        height: 50px
        border-radius: $border-radius
    .messages-ul
        li
            margin: 0 5px
        .left-li
            background-color: #ccc
            text-align: left
        .right-li
            background-color: #777
            text-align: right 
