.test3
    width: 100%
    overflow hidden
    button
        margin: 10px 
    .request
        width: 300px
        line-height: 44px
        background-color: #1890ff
        color: #fff
        border-radius: 6px
        text-align: center
        cursor pointer
    .content-test
        height 120px
        width: 200px
        background-color: pink
        margin: 100px