.xbcTable
    table
        border: 1px solid #ECECEC
    table,td
        border-collapse:collapse
    td,th
        padding: 10px 10px
    tr
        border-bottom: 1px solid #ECECEC
    thead
        >tr
            background-color: #FAFAFA
    tbody
        >tr
            background-color: #ffffff
            transition: background-color .5s
            &:hover
                background-color: #D5EBFC