.xbc-input
        display: flex
        align-items: center
        width: 100%
        padding: 10px 0
        .title
            width: 30%
            text-align: right 
            color: rgba(0,0,0,.85)
            font 
                color: red
        .input
            width: 70%
            >:first-child
                float left
                margin-left: 10px
                border-radius: 3px
                border: 1px solid #D9D9D9
                line-height:  32px
                width: 76%
                height: 32px
                transition: border-color 0.5s
                &:hover
                    border-color:  #40a9ff
            .fileupload
                cursor pointer
                padding: 10px
                display: flex
                align-items: center
                width: 30%
                line-height:  26px
                justify-content: space-around
                transition: color 0.5s,border-color 0.5s
                &:hover
                    color: #40a9ff
                    border-color:  #40a9ff
                img
                    width: 25px
                    path 
                        fill: #40a9ff
.xbc-radio
    display: flex
    align-items: center
    width: 100%
    padding: 10px 0
    .title
        width: 30%
        text-align: right 
        color: rgba(0,0,0,.85)
        font 
            color: red
    .input
        display: flex
        align-items: center
        >div
            display: flex
            align-items: center
            .radio-title
                margin: 0 5px 0 10px