.xbcopen
    cursor: pointer
    display: inline-block
    width: 17px
    height: 17px
    text-align: center
    line-height: 14px
    border: 1px solid #e8e8e8
    user-select: none
    background: #fff