.loading
    text-align: center
    img 
        animation: Body-logo-spin infinite 2.5s linear
@keyframes Body-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}