.toast
    display: flex
    align-items: center
    justify-content: space-around
    padding: 8px 15px
    position: absolute
    left 50%
    background-color: #fff
    border-radius: 6px
    box-shadow:2px 2px 10px #ccc
    transition: top 0.5s,opacity 0.5s
    top -10px
    opacity 0
    z-index 999
    img 
        width: 20px
        margin-right: 10px
.toast-top1

.toast-top2
    top 50px
    opacity 1.0